<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Upload a Beer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title>Add a Beer</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Take a photo and add your beer to ours Catalog.</p>
  </ion-card-content>
</ion-card>

<ion-button (click)="openCamera()" style="margin-top: 50px;  width: 70%; margin-left: auto; margin-right: auto;" color="primary" >
  Take a Photo
</ion-button>

<ion-content></ion-content>
